* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    background: #fff;
    color: #111;
    font-size: 15px;
    line-height: 1.5;
    margin: 0 auto;
}
a {
    color: #262626;
    text-decoration: none;
}
ul {
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}
/*header*/
.header {
    display: flex;
    flex-direction: row;
}
.main-nav {
    display: flex;
    width: 100%;
    height: auto;

    font-size: 1.2em;
    align-items: center;
    justify-content: center;
}
#search-pro {
    width: 500px;
    height: 30px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #ecececc2;
    color: black;
    padding-left: 20px;  
}
.main-nav ul {
    display: flex;
}
.main-nav ul li {
    padding: 20px;   
}

/*main*/
.sec1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}
.d1, .d2 {
    width: 50%;
    height: auto;
    display: block;
}
#txt1 {
    width: 1400px;
    font-size: 0.9rem;
    display: block;
    margin: 0 0 20px 0;
}
.d1 img, .d2 img {
    width: 600px;
    height: 600px;    
}
/*footer*/
.footer {
    background: #f2f2f2;
    color: #616161;
    font-size: 0.8rem;
    padding: 20px 40px;
    display: flex;
    flex-wrap: wrap;
}
#ikea-copy {
    width: 50%;
    height: max-content;
}
#ikea-copy p {
    display: inline;
}
#ikea-policy {
    width: 50%;
    height: max-content;
    margin-top: 0;
    display: block;
}
#ikea-policy ul {
    float: right;
    height: 20px;    
}
#ikea-policy ul li {
    padding-right: 20px;
    display: inline;
}
#ikea-info {
    margin-top: 20px;
}