
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    background: #fff;
    color: #111;
    font-size: 15px;
    line-height: 1.5;
    /* overflow-x: hidden; */
}
a {
    color: #262626;
    text-decoration: none;
}
ul {
    list-style-type: none;
}


/*header*/
/*hamburger-menu*/
#h-btn-d {
    position: fixed;
    top: 50px;
    left: 30px;
    width: 40px;
    height:40px;
    border-radius: 45px;
    background-color: white;
}
#h-btn, #cancel {
    margin-left: 10px;
    margin-top: 10px;
    width: 20px;
    height: 20px;
}
#h-btn-d:hover , #h-btn-c:hover {
    background-color: #dddddd;
}
.hamburger-menu-wrap {
    position: fixed;
    left: -350px;
    top:0;
    z-index: 999;
    width: 350px;
    height: 900px;
    background-color: white;
    margin-top: 0;
    transition: all 0.2s ease;
}
.hamburger-menu-wrap.open {
    left: 0;
}
.page_cover.open { 
    display: block; 
} 
.page_cover { 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0px; 
    left: 0px;
    background-color: rgba(0,0,0,0.4); 
    z-index: 4; 
    display: none; 
}
#h-btn-c {
    position: absolute;
    top: 50px;
    left: 30px;
    background-color: white;
    border-radius: 45px;
    width: 40px;
    height: 40px;
}
.hamburger-menu-wrap #logo {
    position: absolute;
    top: 50px;
    left: 120px;
}
#hamburger-list {
    width: 200px;
    height: 500px;
    margin: 120px 25px 0px 60px;
}
#hamburger-list li:hover {
    text-decoration: underline;
}
#hamburger-list ul li {
    padding: 5px;
    text-align: left;
}
.li1:nth-child(8) {
    margin-bottom: 30px;
}
.li1 {
    font-weight: 900;
    font-size: 0.9rem;
}
.li2 {
    font-size: 0.9rem;
}
.h-change-country{
    width: 270px;
    height: 100px;
    position: absolute;
    margin-left: 60px;
}
#h-change-country-btn {
    width: 120px;
    height: 40px;
}    
#h-change-country-btn, #h-change-language-btn {
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 45px;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: white;
}
#h-change-language-btn{
    width: 100px;
    height: 40px;
    padding-left: 20px;
}
#h-change-country-btn img{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
#h-change-country-btn:hover, #h-change-language-btn:hover{
    border: 1px solid #9c9a9a;
}

/*header-bar-menu*/
#header-bar {
    max-width: 1600px;
    height: 30px;
    background-color: #111;
    display: flex;
    flex-direction: row;
    color: #fff;
    justify-content: center;
    flex-wrap: wrap;
}
#header-bar p {
    margin-right: 50px;
    padding-top: 3px;
    font-size: 0.8rem;
}
#header-bar img {
    width: 16px;
    height: 16px;
    margin-right: 2px;
}
/*header-nav*/
.main-nav {
    display: flex;
    max-width: 1350px;
    height: 80px;
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
    margin-left: 120px;
    background-color: white;
}


#logo {
    width: 70px;
    height: 35px;
    margin-right: 20px;
}
#header-list1 {
    width: max-content;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}
#header-list1 li{
    margin-right: 20px;
    font-size: 0.9rem;
    font-weight: bold;
}
#search {
    width: 50%;
    height: auto;
    margin-right: 10px;
        
}
#search-pro {
    width: 650px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #ecececc2;
    color: black;
    padding-left: 20px;
}
#header-list2 {
    display: flex;
    flex-direction: row;
}
#header-list2 li img{
    width: 24px;
    height: 24px;
    margin: 0 20px 0 10px;
}



/*main*/
.main{
    max-width: max-content;
    height: 9000px;
}
/*section1*/
.sec1 {
    max-width: 1300px;
    height: 850px;
    margin-left: 100px
}
#txt1 {
    width: 61%;
    height: 100px;
    padding: 10px;
    padding-left: 80px;
    margin-bottom: 20px;
}
#sec1-d1 {
    display: inline-block;
    width: 45%;
    height: 650px;
    margin-left: 60px;
}
#sec1-d1 img {
    max-width: 100%;
    height: auto;
}
#sec1-d2 {
    display: inline-block;
    width: 45%;
    height: 650px;
    margin-left: 30px;
}
#sec1-d2 img {
    max-width: 100%;
    height: auto;
}
#go-sale {
    width: 140px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 0.7rem;
}
#more-info {
    width: 120px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 0.7rem;
}
#go-sale:hover, #more-info:hover {
    background-color: #262626;
}

/*section2*/
.sec2 {
    max-width: 1350px;
    height: 800px;
    margin-left: 100px
}

.sec2 h2 {
    padding-left: 60px;
    margin-bottom: 20px;
}
.list {
    overflow-x:scroll; 
    white-space:nowrap;
    margin-left: 60px;
    height: 700px;
    max-width: 1200px;
}
/*list의 스크롤 디자인*/
.list::-webkit-scrollbar {
    height: 4px;
}

.list::-webkit-scrollbar-thumb {
    background-color: black;
}

.list::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
.list li {
    display: inline-block;
    width: 390px;
    margin-right: 10px;
}
.sec2-content{
    width: 390px;
    height: 680px;
    margin-right: 15px;
    position: relative;
}
.con-img{
    width: 100%;
    height: 60%;
}
.list li h2 {
    font-size: 1.4rem;
    margin-top: 20px;
    margin-bottom: 0;
    display: block;
    padding-left: 18px;
    font-weight: 550;
    
}
.list li p{
    font-size: 1rem;
    white-space: pre-wrap;
    width: 100%;
    height: 150px;
    padding: 10px 20px 0 20px;
    position: absolute;
    bottom: 60px;
    left: 0;
}

#sec2-l1 {
    background-color: #274374;
    color: #f1f1f1;
    font-weight: bold;
}
.sec2-btn {
    position: absolute;
    bottom: -12px;
    left: 30px;
    width: 50px;
    height: 50px;
    border:none;
    border-radius: 45px;
    background: url("images/002-right-arrow.svg") no-repeat center;
    background-size: cover;
    background-color: white;
}


.sec2-content button:hover {
    opacity: 0.8;
}


#sec2-l2 {
    background-color: #f49778;
}
#sec2-l3 {
    background-color: #96afe2;
}
#sec2-l4 {
    background-color: #e5ded7;
}
#sec2-l5 {
    background-color: #a2b9c2;
}

#delivery-problem {
    max-width: 1200px;
    height: 150px;
    background-color: #e7e6e6;
    margin: 30px 0 40px 160px;
    padding: 40px;
}
#delivery-problem h1 {
    margin-bottom: 10px;
}
#delivery-problem p {
    font-size: 0.9rem;
}

/*section3*/
.sec3 {
    max-width: 1350px;
    height: 700px;
    margin-left: 100px;
}

.sec3 h2 {
    padding-left: 60px;
    margin-bottom: 20px;
}
.recommend {
    overflow-x:scroll; 
    white-space:nowrap;
    margin-left: 60px;
    height: 560px;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.recommend::-webkit-scrollbar {
    height: 4px;
}

.recommend::-webkit-scrollbar-thumb {
    background-color: black;
}

.recommend::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
.recommend li {
    padding-right: 20px;
    
    position: relative;
}
.item {
    width: 300px;
    height: 530px;
    display: block;
    margin-left: 40px;
}
.item img {
    width: 280px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 0;
}
.item-info {
    width: 250px;
    height: 180px;
    padding-top: 20px;
    padding-bottom: 5px;
}
.recommend li button {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 30px;
    right: 40px;
    border: none;
    background: url("./images/003-add-to-cart.svg") center no-repeat;
    background-size: cover;
    display: none;
}

.item-info span {
    color: red;
    font-weight: bold;
    font-weight: 700;
}
.item-name{
    font-weight: bold;
    font-size: 1rem;
}
.item-type {
    font-size: 0.8rem;
    font-weight: 700;
}
.cancel-price {
    text-decoration: line-through;
    font-size: 0.8rem;
}
.item-price {
    font-size: 1.3rem;
    font-weight: bold;
}
.new{
    display: inline-block;
    background-color: #FFD33B;
    box-shadow: 0.11rem 0.11rem #FF0A0E;
}

/*section4*/
.sec4 {
    max-width: 1350px;
    height: 1000px;
    margin-top: 50px;
}
.sec4 h2 {
    margin-bottom: 20px;
    display: inline-block;
}
.sec4 button {
    width: 120px;
    height: 40px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 45px;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.932);
    float: right;
    margin-right: 120px;

}
.new-product {
    max-width: 1200px;
    height: 900px;
    display: inline-block;
    margin-left: 60px;
}
#sec4-img1, #sec4-img2{
    width: 48%;
    height: 800px;
    margin-right: 20px;
    margin-top: 20px;
}

/*section5*/
.sec5 {
    max-width: 1350px;
    height: 1000px;
}
.sec5 h2 {
    margin-bottom: 20px;
}
.sec5 p {
    font-size: 0.9rem;
    width:42%;
    display: inline-block;
    margin-left: 60px;
}
.sec5 button {
    width: 120px;
    height: 40px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 45px;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.932);
    float: right;
    margin-right: 120px;
}
.refresh-product {
    max-width: 1200px;
    height: 900px;
    display: inline-block;
    margin-left: 60px;
}
#sec5-img1, #sec5-img2{
    width: 48%;
    height: 800px;
    margin-right: 20px;
    margin-top: 20px;
}
/*section6*/
.sec6 {
    max-width: 1350px;
    height: 1000px;
    margin-top: 50px;
}
.sec6 h2 {
    margin-bottom: 20px;
}
.solution {
    width: 1200px;
    height: 350px;
    overflow-x: scroll;
    display: flex;
    margin-left: 60px;
}
.solution::-webkit-scrollbar {
    height: 4px;
}

.solution::-webkit-scrollbar-thumb {
    background-color: black;
}

.solution::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
.solution-title {
    width: 230px;
    height: 310px;
    background-color: #00853E;
    margin-right: 15px;
    color: white;
    font-weight: bold;
    padding: 30px;
    font-size: 1rem;
    position: relative;
}
.solution-title button {
    width: 50px;
    height: 50px;
    border-radius: 45px;
    position: absolute;
    bottom: 50px;
    border:none;
    background:url("./images/002-right-arrow.svg") no-repeat center;
    background-size: cover;
    background-color: white;
}
.solution-title button:hover {
    opacity: 0.8;
}

.solution-item {
    width: 230px;
    height: 310px;
    margin-right: 15px;
    position: relative;
}
.solution-item button {
    width: fit-content;
    height: 35px;
    background-color: rgb(247, 245, 245);
    color: black;
    font-weight: bold;
    font-size: 0.8rem;
    position: absolute;
    bottom: 50px;
    text-align: center;
    border-radius: 45px;
    padding: 0 10px 0 10px;
    border: none;
}
.solution-item button:hover {
    background-color: #cccccc;
}

.img1{
    background: url("https://www.ikea.com/images/fd/a7/fda7b18b19a76da56e0dbcdeda5b4f7b.jpg?f=xxs") no-repeat center;   
}
.img1 button {
    left: 30px;
}
.img2{
    background: url("https://www.ikea.com/images/tartsmet-glypen-f858ed7c6797c35c437b2ee9ea8144be.jpg?f=xxs") no-repeat center;   
}
.img2 button {
    left: 30%;
}
.img3{
    background: url("https://www.ikea.com/images/-12bddc4edf8c10bd339a8a993cd78aa8.jpg?f=xxs") no-repeat center;   
}
.img3 button {
    left: 28%;
}
.img4{
    background: url("https://www.ikea.com/images/rosenskaerm-74fafb5c3e66045c5fcdc7c0b82dbd22.jpg?f=xxs") no-repeat center;   
}
.img4 button {
    left: 30%;
}
.img5{
    background: url("https://www.ikea.com/images/sortera-2368d19be345419ccdc30ffe6df5a51a.jpg?f=xxs") no-repeat center;   
}
.img5 button {
    left: 28%;
}
.img6{
    background: url("https://www.ikea.com/images/ivar-696cb2a6ba4bbc83c5e8226a2bef560c.jpg?f=xxs") no-repeat center;   
}
.img6 button {
    left: 30px;
}
.img7{
    background: url("https://www.ikea.com/images/gamlehult-ce886cf9fddd6a7b373a63db87f330ec.jpg?f=xxs") no-repeat center;   
}
.img7 button {
    left: 30px;
}
.img8{
    background: url("https://www.ikea.com/images/ikea-365-365-huvudroll-5ad685907ab46dec5bbf0b2820dd4192.jpg?f=xxs") no-repeat center;   
}
.img8 button {
    left: 30px;
}

/*section7*/
.sec7 {
    max-width: 1350px;
    height: 500px;
    margin-top: 50px;
    margin-left: 20px;
}
#catalog, #food {
    width: 47%;
    height: 400px;
    display: inline-block;
}
#catalog img, #food img {
    width: 95%;
    height: 350px;
    display: block;
    margin-left: 40px;
}
#catalog button, #food button {
    width: fit-content;
    height: 40px;
    margin-left: 40px;
    margin-top: 30px;
    padding: 0 20px 0 20px;
    background-color: white;
    border: 1px solid #cccccc;
    color: black;
    font-weight: bold;
    border-radius: 30px;
    font-size: 0.8rem;
}
#catalog button:hover, #food button:hover, .sec4 button:hover, .sec5 button:hover{
    border: 1px solid #8b8b8b;
}
/*section8*/
.sec8 {
    width: 1200px;
    height: 150px;
    background-color: #e7e6e6;
    margin-left: 60px;
}
#d-service, #a-service {
    width: 49%;
    text-align: center;
    display: inline-block;
    padding-top: 20px;
}
#d-service h4, #a-service h4{
    margin-bottom: 5px;
}
#d-service img, #a-service img {
    width: 20px;
    height: 20px;
}
.more-opt {
    text-decoration: underline;
    cursor: pointer;
    color:#616161;
}
.more-opt:hover {
    color: black;
}


/*section9*/
.sec9 {
    max-width: 1350px;
    height: auto;
    margin-top: 20px;
}
.sec9-btn {
    max-width: 1200px;
    height: 50px;
    margin-top: 10px;
    margin-left: 60px;
}
.sec9-btn button {
    width: fit-content;
    padding: 0 15px 0 15px;
    height: 40px;
    padding: 0 20px 0 20px;
    background-color: rgb(241, 241, 241);
    color: black;
    font-weight: 900;
    border-radius: 30px;
    font-size: 0.8rem;
    border: none;
}
.sec9-btn button:hover {
    background-color: #cccccc;
    cursor: pointer;
}
.sec9-container {
    display: grid;
    grid-template-areas: 
    "item1 item2 item3"
    "item4 item5 item6"
    "item7 item8 item9"
    "item10 item11 item12";
    grid-template-columns:repeat(3, 1fr);
    width: 1200px;
    height: auto;
    margin-left: 60px;
    margin-top: 10px;
    gap: 10px;
}
#sec9-item1 {
    grid-area: item1;
    max-width: 400px;
    height: 600px;
    background: url("https://www.ikea.com/ext/ingkadam/m/96c2f4720cb69a1/original/PH158522-crop001.jpg?f=m") no-repeat center;
    background-size: contain;
}
#sec9-item2 {
    grid-area: item2;
    max-width: 400px;
    height: 600px;
    background: url("https://www.ikea.com/ext/ingkadam/m/5425b1c6a40dda8/original/PH158524-crop001.jpg?f=m") no-repeat center;
    background-size: contain;
}
#sec9-item3 {
    grid-area: item3;
    max-width: 400px;
    height: 600px;
    background: url("https://www.ikea.com/ext/ingkadam/m/720bdc2f4e8db951/original/PH161816-crop001.jpg?f=m") no-repeat center;
    background-size: contain;
    
}
#sec9-item4 {
    grid-area: item4;
    max-width: 400px;
    height: 600px;
    background: url("https://www.ikea.com/ext/ingkadam/m/5485848de1d93a3/original/PH165568-crop001.jpg?f=m") no-repeat center;
    background-size: contain;
}
#sec9-item5 {
    grid-area: item5;
    max-width: 400px;
    height: 600px;
    background: url("https://www.ikea.com/ext/ingkadam/m/3b81f45cb3162a8d/original/PH164209-crop002.jpg?f=m") no-repeat center;
    background-size: contain;
}
#sec9-item6 {
    grid-area: item6;
    max-width: 400px;
    height: 600px;
    background: url("https://www.ikea.com/ext/ingkadam/m/314fd312c5868abc/original/PH164210-crop001.jpg?f=m") no-repeat center;
    background-size: contain;
}
#sec9-item7 {
    grid-area: item7;
    max-width: 400px;
    height: 600px;
    background: url("https://www.ikea.com/ext/ingkadam/m/23a6f4b747e029f0/original/PH164465-crop001.jpg?f=m") no-repeat center;
    background-size: contain;
}
#sec9-item8 {
    grid-area: item8;
    max-width: 400px;
    height: 600px;
    background: url("https://www.ikea.com/ext/ingkadam/m/597c1848046a57f/original/PH157396-crop001.jpg?f=m") no-repeat center;
    background-size: contain;
}
#sec9-item9 {
    grid-area: item9;
    max-width: 400px;
    height: 600px;
    background: url("https://www.ikea.com/ext/ingkadam/m/5d323755d0092c96/original/PH151174-crop001.jpg?f=m") no-repeat center;
    background-size: contain;
}
#sec9-item10 {
    grid-area: item10;
    max-width: 400px;
    height: 600px;
    background: url("https://www.ikea.com/ext/ingkadam/m/4ae9bf3115fb075b/original/PH157374-crop001.jpg?f=m") no-repeat center;
    background-size: contain;
}
#sec9-item11 {
    grid-area: item11;
    max-width: 400px;
    height: 600px;
    background: url("https://www.ikea.com/ext/ingkadam/m/1c60f7fa0943ea8f/original/PH153047-crop004.jpg?f=m") no-repeat center;
    background-size: contain;
}
#sec9-item12 {
    grid-area: item12;
    max-width: 400px;
    height: 600px;
    background: url("https://www.ikea.com/ext/ingkadam/m/1bddfaf55ad21a3f/original/PH169109-crop001.jpg?f=m") no-repeat center;
    background-size: contain;
}
#more-btn {
    width: fit-content;
    padding: 0 15px 0 15px;
    height: 40px;
    padding: 0 20px 0 20px;
    background-color: black;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    font-size: 0.8rem;
    border: none;
    margin-left: 40%;
}
#more-btn:hover{
    opacity: 0.8;
}

/*section10*/
.sec10 {
    max-width: 1350px;
    height: 800px;
    margin-top: 50px;
}
.sec10-all {
    width: 1200px;
    height: 700px;
    display: flex;
    flex-direction: row;
    margin-left: 60px;
}
.sec10-d1, .sec10-d2, .sec10-d3 {
    width: 400px;
    height: 600px;
    background-color: #f1f1f1;
    margin-right: 10px;
}
.sec10-all img{
    width: 400px;
    height: 400px;
    margin-bottom: 30px;
}
.sec10-btn {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    border: none;
    border-radius: 45px;
    background-color: white;
}
.sec10-btn img {
    width: 50px;
    height: 50px;
}
.sec10-btn:hover {
    opacity: 0.8;
}

.footer {
    max-width: 1600px;
    height: 700px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
/*section links*/
.links {
    width: 1600px;
    height: 500px;
    position: relative;
    border-bottom:1px solid rgb(199, 199, 199);
    display: flex;
    flex-direction: row; 
}

.join-fam {
    width: 30%;
    margin: 20px 0 20px 20px;
    padding-top: 100px;
    padding-left: 80px;
}

.join-fam p {
    font-size: 0.8rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.join-fam span {
    text-decoration: underline;
}
#join-family {
    width: 200px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 0.7rem;
}
#join-family:hover {
    opacity: 0.8;
}
.links-inner {
    max-width: 65%;
    margin: 0 auto;
    padding: 90px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    font-size: 0.8rem;
}
.links-inner ul {
    margin-right: 20px;
}
.links li {
    line-height: 2.5;
}

.linkurl {
    width: 300px;
    position: absolute;
    bottom: 50px;
    margin-left: 100px;
}
.linkurl a {
    margin-right: 20px;
}
.linkurl img {
    width: 20px;
    height: 20px;
    border: 1px solid #cccccc;
}
.linkurl img:hover{
    border: #616161;
}
.change-country {
    width: 300px;
    position: absolute;
    bottom: 50px;
    right: 50px;    
}
#change-country-btn {
    width: 120px;
    height: 40px;
    margin-right: 10px;
}    
#change-country-btn, #change-language-btn {
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 45px;
    font-size: 0.8rem;
    font-weight: bold;
}
#change-country-btn:hover, #change-language-btn:hover {
    border: 1px solid #616161;
}
#change-language-btn{
    width: 100px;
    height: 40px;
    background-color: #f2f2f2;
    padding-left: 20px;
}

#change-country-btn img{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

#ikea-copy {
    width: 50%;
    height: max-content;
    display: block;
    padding-left: 80px;
    margin-top: 20px;
}
#ikea-copy p {
    display: inline;
    font-size: 0.9rem;
}
#ikea-policy {
    width: 50%;
    height: max-content;
    margin-top: 0;
    display: block;
    padding-right: 70px;
    margin-top: 20px;
    font-size: 0.9rem;
}
#ikea-policy ul {
    float: right;
    height: 20px;  
}
#ikea-policy ul li {
    padding-right: 20px;
    display: inline;
}
#ikea-info {
    margin-top: 20px;
    margin-left: 80px;
    font-size: 0.9rem;
}
