
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    background: #fff;
    color: #111;
    font-size: 15px;
    line-height: 1.5;
    overflow-x: hidden;
}
a {
    color: #262626;
    text-decoration: none;
}
ul {
    list-style-type: none;
}

.container {
    max-width: 1600px;
    position: relative;
}
/*header*/
/*hamburger-menu*/
#hamburger-menu {
    border : none;
    width: 30px;
    height: 30px;
    position: fixed;
    top: 60px;
    left: 50px;
}
#hamburger-menu img {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 60px;
    left: 40px;
}
.hamburger-nav {
    position: relative;
    left: 0px;
    top:0;
   
}
.hamburger-menu-wrap {
    position: fixed;
    display: inline-block;
    left: -350px; /*버튼 누르면 left: 0으로 바꾸기*/
    top:0;
    z-index: 999;
    width: 350px;
    height: 900px;
    background-color: white;
    margin-top: 0;
    transition: 0.3s; 
    overflow: auto;  
}
.hamburger-menu-wrap button {
    position: absolute;
    top: 50px;
    left: 30px;
}
.hamburger-menu-wrap #logo {
    position: absolute;
    top: 50px;
    left: 120px;
}
#hamburger-list {
    width: 200px;
    height: 500px;
    margin: 120px 25px 0px 60px;
}
#hamburger-list li:hover {
    text-decoration: underline;
}
#hamburger-list ul li {
    padding: 5px;
    text-align: left;
}
.li1:nth-child(8) {
    margin-bottom: 30px;
}
.li1 {
    font-weight: 900;
    font-size: 0.9rem;
}
.li2 {
    font-size: 0.9rem;
}
.h-change-country{
    width: 270px;
    height: 200px;
    position: absolute;
    margin-left: 60px;
}
#h-change-country-btn {
    width: 120px;
    height: 40px;
    top: 0;
    left: 120px;
}    
#h-change-country-btn, #h-change-language-btn {
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 45px;
    font-size: 0.8rem;
    font-weight: bold;
}
#h-change-language-btn{
    width: 100px;
    height: 40px;
    background-color: #f2f2f2;
}
#h-change-country-btn img{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

/*header-bar-menu*/
#header-bar {
    max-width: 1600px;
    height: 30px;
    background-color: #111;
    display: flex;
    flex-direction: row;
    color: #fff;
    justify-content: center;
}
#header-bar p {
    margin-right: 50px;
    padding-top: 3px;
    font-size: 0.8rem;
}
.main-nav {
    display: flex;
    max-width: 1600px;
    height: 80px;
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    background-color: white;
}
.main-nav img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
#search-pro {
    width: 600px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #ecececc2;
    color: black;
    padding-left: 20px;  
}
.main-nav ul {
    display: flex;
    font-size: 0.8rem;
    line-height: 25px;
    font-weight: 900;
}
.main-nav ul li {
    padding: 10px;   
}
#logo {
    width: 70px;
    height: 35px;
}


/*main*/
/*section1*/
.sec1 {
    max-width: 1600px;
    height: 850px;
    margin-left: 60px
}
#txt1 {
    width: 61%;
    height: 100px;
    padding: 10px;
    padding-left: 80px;
    margin-bottom: 20px;
}
#sec1-d1 {
    display: inline-block;
    width: 45%;
    height: 650px;
    margin-left: 60px;
}
#sec1-d1 img {
    max-width: 100%;
    height: auto;
}
#sec1-d2 {
    display: inline-block;
    width: 45%;
    height: 650px;
    margin-left: 30px;
}
#sec1-d2 img {
    max-width: 100%;
    height: auto;
}
#go-sale {
    width: 140px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 0.7rem;
}
#more-info {
    width: 120px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 0.7rem;
}

/*section2*/
.sec2 {
    max-width: 1600px;
    height: 800px;
    margin-left: 60px
}

.sec2 h2 {
    padding-left: 60px;
    margin-bottom: 20px;
}
.list {
    overflow-x:scroll; 
    white-space:nowrap;
    margin-left: 60px;
    height: 700px;
    max-width: 1280px;
}
/*list의 스크롤 디자인*/
.list::-webkit-scrollbar {
    height: 4px;
}

.list::-webkit-scrollbar-thumb {
    background-color: black;
}

.list::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
.list li {
    display: inline-block;
    width: 410px;
    margin-right: 20px;
}
.list li div{
    width: 410px;
    height: 680px;
    margin-right: 15px;
}
.list li img {
    width: 100%;
    height: 60%;
}
.list li h2 {
    font-size: 1.4rem;
    margin-top: 20px;
    margin-bottom: 0;
    display: flex;
    padding-left: 18px;
    font-weight: 550;
    
}
.list li p{
    font-size: 1rem;
    white-space: pre-wrap;
    width: 100%;
    height: 100px;
    padding: 10px 20px 0 20px;
    display: flex;
}

#sec2-l1 {
    background-color: #274374;
    color: #f1f1f1;
    font-weight: bold;
}
#sec2-l2 {
    background-color: #f49778;
}
#sec2-l3 {
    background-color: #96afe2;
}
#sec2-l4 {
    background-color: #e5ded7;
}
#sec2-l5 {
    background-color: #a2b9c2;
}

#delivery-problem {
    max-width: 1280px;
    height: 150px;
    background-color: #e7e6e6;
    margin: 30px 0 40px 120px;
    padding: 40px;
}
#delivery-problem h1 {
    margin-bottom: 10px;
}
#delivery-problem p {
    font-size: 0.9rem;
}

/*section3*/
.sec3 {
    max-width: 1600px;
    height: 700px;
    margin-left: 60px;
}

.sec3 h2 {
    padding-left: 60px;
    margin-bottom: 20px;
}
.recommend {
    overflow-x:scroll; 
    white-space:nowrap;
    margin-left: 60px;
    height: 560px;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.recommend::-webkit-scrollbar {
    height: 4px;
}

.recommend::-webkit-scrollbar-thumb {
    background-color: black;
}

.recommend::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
.recommend li {
    padding-right: 20px;
}
.item {
    width: 300px;
    height: 530px;
    display: block;
}
.item img {
    width: 280px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 0;
}
.item-info {
    width: 250px;
    height: 180px;
    padding-top: 20px;
    padding-bottom: 5px;
}
.item-info span {
    color: red;
    font-weight: bold;
    font-weight: 700;
}
.item-name{
    font-weight: bold;
    font-size: 1rem;
}
.item-type {
    font-size: 0.8rem;
    font-weight: 700;
}
.cancel-price {
    text-decoration: line-through;
    font-size: 0.8rem;
}
.item-price {
    font-size: 1.3rem;
    font-weight: bold;
}

/*section4*/
.sec4 {
    max-width: 1600px;
    height: 1000px;
    margin-top: 50px;
}
.sec4 h2 {
    margin-bottom: 20px;
    display: inline-block;
}
.sec4 button {
    width: 120px;
    height: 40px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 45px;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.932);
    float: right;
    margin-right: 200px;

}
.new-product {
    max-width: 1300px;
    height: 900px;
    display: inline-block;
    margin-left: 40px;
}
#sec4-img1, #sec4-img2{
    width: 48%;
    height: 800px;
    margin-right: 20px;
    margin-top: 20px;
}

/*section5*/
.sec5 {
    max-width: 1600px;
    height: 1000px;
}
.sec5 h2 {
    margin-bottom: 20px;
}
.sec5 p {
    font-size: 0.9rem;
    width:42%;
    display: inline-block;
    margin-left: 60px;
}
.sec5 button {
    width: 120px;
    height: 40px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 45px;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.932);
    float: right;
    margin-right: 200px;
}
.refresh-product {
    max-width: 1300px;
    height: 900px;
    display: inline-block;
    margin-left: 40px;
}
#sec5-img1, #sec5-img2{
    width: 48%;
    height: 800px;
    margin-right: 20px;
    margin-top: 20px;
}
/*section6*/
.sec6 {
    max-width: 1600px;
    height: 1000px;
    margin-top: 50px;
}
.sec6 h2 {
    margin-bottom: 20px;
}
.solution {
    width: 1300px;
    height: 350px;
    overflow-x: scroll;
    display: flex;
    margin-left: 40px;
}
.solution::-webkit-scrollbar {
    height: 4px;
}

.solution::-webkit-scrollbar-thumb {
    background-color: black;
}

.solution::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
.solution-title {
    width: 230px;
    height: 310px;
    background-color: #00853E;
    margin-right: 15px;
    color: white;
    font-weight: bold;
    padding: 30px;
    font-size: 1rem;
}
.solution-item {
    width: 230px;
    height: 310px;
    margin-right: 15px;
    position: relative;
}
.solution-item button {
    width: max-content;
    height: 35px;
    background-color: rgb(247, 245, 245);
    color: black;
    font-weight: bold;
    font-size: 0.8rem;
    position: absolute;
    bottom: 50px;
    text-align: center;
    border-radius: 45px;
    padding: 0 10px 0 10px;
    border: none;
}
.solution-item button:hover {
    background-color: #cccccc;
}

.img1{
    background: url("https://www.ikea.com/images/fd/a7/fda7b18b19a76da56e0dbcdeda5b4f7b.jpg?f=xxs") no-repeat center;   
}
.img1 button {
    left: 30px;
}
.img2{
    background: url("https://www.ikea.com/images/tartsmet-glypen-f858ed7c6797c35c437b2ee9ea8144be.jpg?f=xxs") no-repeat center;   
}
.img2 button {
    left: 30%;
}
.img3{
    background: url("https://www.ikea.com/images/-12bddc4edf8c10bd339a8a993cd78aa8.jpg?f=xxs") no-repeat center;   
}
.img3 button {
    left: 28%;
}
.img4{
    background: url("https://www.ikea.com/images/rosenskaerm-74fafb5c3e66045c5fcdc7c0b82dbd22.jpg?f=xxs") no-repeat center;   
}
.img4 button {
    left: 30%;
}
.img5{
    background: url("https://www.ikea.com/images/sortera-2368d19be345419ccdc30ffe6df5a51a.jpg?f=xxs") no-repeat center;   
}
.img5 button {
    left: 28%;
}
.img6{
    background: url("https://www.ikea.com/images/ivar-696cb2a6ba4bbc83c5e8226a2bef560c.jpg?f=xxs") no-repeat center;   
}
.img6 button {
    left: 30px;
}
.img7{
    background: url("https://www.ikea.com/images/gamlehult-ce886cf9fddd6a7b373a63db87f330ec.jpg?f=xxs") no-repeat center;   
}
.img7 button {
    left: 30px;
}
.img8{
    background: url("https://www.ikea.com/images/ikea-365-365-huvudroll-5ad685907ab46dec5bbf0b2820dd4192.jpg?f=xxs") no-repeat center;   
}
.img8 button {
    left: 30px;
}

/*section7*/
.sec7 {
    max-width: 1600px;
    height: 500px;
    margin-top: 50px;
}
#catalog, #food {
    width: 45%;
    height: 400px;
    display: inline-block;

}
#catalog img, #food img {
    width: 95%;
    height: 350px;
    display: block;
    margin-left: 40px;
}
#catalog button, #food button {
    width: fit-content;
    height: 40px;
    margin-left: 40px;
    margin-top: 30px;
    padding: 0 20px 0 20px;
    background-color: white;
    border: 1px solid #cccccc;
    color: black;
    font-weight: bold;
    border-radius: 30px;
    font-size: 0.8rem;
}
/*section8*/
.sec8 {
    max-width: 1280px;
    height: 150px;
    background-color: #e7e6e6;
    margin-left: 35px;
}
#d-service, #a-service {
    width: 48%;
    text-align: center;
    display: inline-block;
    padding-top: 20px;
}
#d-service h4, #a-service h4{
    margin-bottom: 5px;
}
#d-service img, #a-service img {
    width: 20px;
    height: 20px;
}


/*section: links*/
.links {
    max-width: 1600px;
    height: 500px;
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border-bottom:1px solid rgb(199, 199, 199);
    
}
.join-fam {
    width: 30%;
    margin: 20px 0 20px 20px;
    padding-top: 100px;
    padding-left: 80px;
}
.join-fam p {
    font-size: 0.8rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.join-fam span {
    text-decoration: underline;
}
#join-family {
    width: 200px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 0.7rem;

}
.links-inner {
    max-width: 65%;
    margin: 0 auto;
    padding: 90px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    font-size: 0.8rem;
}
.links-inner ul {
    margin-right: 20px;
}
.links li {
    line-height: 2.5;
}

.linkurl {
    width: 300px;
    position: absolute;
    bottom: 50px;
    margin-left: 100px;
}
.linkurl a {
    margin-right: 20px;
}
.linkurl img {
    width: 20px;
    height: 20px;
}
.change-country {
    width: 300px;
    position: absolute;
    bottom: 50px;
    right: 50px;    
}
#change-country-btn {
    width: 120px;
    height: 40px;
    margin-right: 10px;
}    
#change-country-btn, #change-language-btn {
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 45px;
    font-size: 0.8rem;
    font-weight: bold;
}
#change-language-btn{
    width: 100px;
    height: 40px;
    background-color: #f2f2f2;
}

#change-country-btn img{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

/*footer*/
.footer {
    background: #f2f2f2;
    color: #616161;
    font-size: 0.8rem;
    padding: 20px 40px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: -5000px;
}
#ikea-copy {
    width: 50%;
    height: max-content;
}
#ikea-copy p {
    display: inline;
}
#ikea-policy {
    width: 50%;
    height: max-content;
    margin-top: 0;
    display: block;
}
#ikea-policy ul {
    float: right;
    height: 20px;    
}
#ikea-policy ul li {
    padding-right: 20px;
    display: inline;
}
#ikea-info {
    margin-top: 20px;
}