<<<<<<< HEAD
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    background: #fff;
    color: #111;
    font-size: 15px;
    line-height: 1.5;
    margin: 0 auto;
    /* overflow-x: hidden */
}
a {
    color: #262626;
    text-decoration: none;
}
ul {
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 1600px;
}
/*header*/
#hamburger-menu {
    background-color: white;
    border : none;
    width: 30px;
    height: 30px;
    position: fixed;
    top: 40px;
    left: 40px;
}
#hamburger-menu img {
    max-width: 30px;
    height: auto;
}
.hamburger-nav {
    position: relative;
    left: 0px;
    top:0;   
}
.hamburger-menu-wrap {
    position: absolute;
    display: inline-block;
    left: -300px;
    top:0;
    z-index: 999;
    width: 300px;
    height: 900px;
    background-color: aqua;
    margin-top: 0;
    transition: 0.3s; 
} 
#header-bar {
    width: 1600px;
    height: 30px;
    background-color: #111;
    display: flex;
    flex-direction: row;
    color: #fff;
    justify-content: center;
}
#header-bar p {
    margin-right: 50px;
    padding-top: 3px;
    font-size: 0.8rem;
}
.main-nav {
    display: flex;
    width: 1600px;
    height: auto;
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}
#search-pro {
    width: 500px;
    height: 30px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #ecececc2;
    color: black;
    padding-left: 20px;  
}
.main-nav ul {
    display: flex;
}
.main-nav ul li {
    padding: 20px;   
}


/*main*/
.sec1 {
    max-width: 1400px;
    height: 800px;
    margin-left: 60px;
}
#txt1 {
    width: 100%;
    height: 100px;
    padding: 10px;
    padding-left: 80px;
}
.sec1-d {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sec1-d1, .sec1-d2 {
    display: inline-block;
    width: 600px;
    height: 650px;
}
.sec1-d1 {
    background: url("https://www.ikea.com/images/-b41d31b5b20df2f8b385b7cd73dee2f2.jpg?f=l") no-repeat center;
    max-width: 80%;
    height: 600px;
    background-size: cover;
    overflow: hidden;
    margin-right: 20px;
}
.sec1-d2 {
    background: url("https://www.ikea.com/images/8b/3f/8b3f08b1947dd09aea8ea61f3f23973c.jpg?f=l") no-repeat center;
    max-width: 80%;
    height: 600px;
    background-size: cover;
    overflow: hidden;
    margin-left: 20px;
}
.sec1-b {
    display: flex;
    width: 1400px;
    height: 60px;
    flex-direction: row;
    
}
#go-sale, #more-info ,#join-family{
    
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 0.9rem;
}
#go-sale {
    width: 150px;
    height: 40px;
    float: left;
    margin-left: 80px;
}
#more-info{
    width: 120px;
    height: 40px;
    float: right;
    margin-right: 560px;
}


.links {
    max-width: 1600px;
    height: 500px;
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border-bottom:1px solid rgb(199, 199, 199);
    
}
.join-fam {
    width: 30%;
    margin: 20px 0 20px 20px;
    padding-top: 100px;
    padding-left: 80px;
}
.join-fam p {
    font-size: 0.8rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.join-fam span {
    text-decoration: underline;
}
#join-family {
    width: 200px;
    height: 40px;
}
.links-inner {
    max-width: 65%;
    margin: 0 auto;
    padding: 90px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    font-size: 0.8rem;
}
.links-inner ul {
    margin-right: 20px;
}
.links li {
    line-height: 2.5;
}

.linkurl {
    width: 300px;
    position: absolute;
    bottom: 50px;
    z-index: 5;
    margin-left: 100px;
}
.linkurl a {
    margin-right: 20px;
}



/*footer*/
.footer {
    background: #f2f2f2;
    color: #616161;
    font-size: 0.8rem;
    padding: 20px 40px;
    display: flex;
    flex-wrap: wrap;
}
#ikea-copy {
    width: 50%;
    height: max-content;
}
#ikea-copy p {
    display: inline;
}
#ikea-policy {
    width: 50%;
    height: max-content;
    margin-top: 0;
    display: block;
}
#ikea-policy ul {
    float: right;
    height: 20px;    
}
#ikea-policy ul li {
    padding-right: 20px;
    display: inline;
}
#ikea-info {
    margin-top: 20px;
=======
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    background: #fff;
    color: #111;
    font-size: 15px;
    line-height: 1.5;
    margin: 0 auto;
    /* overflow-x: hidden */
}
a {
    color: #262626;
    text-decoration: none;
}
ul {
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 1600px;
}
/*header*/
#hamburger-menu {
    background-color: white;
    border : none;
    width: 30px;
    height: 30px;
    position: fixed;
    top: 40px;
    left: 40px;
}
#hamburger-menu img {
    max-width: 30px;
    height: auto;
}
.hamburger-nav {
    position: relative;
    left: 0px;
    top:0;   
}
.hamburger-menu-wrap {
    position: absolute;
    display: inline-block;
    left: -300px;
    top:0;
    z-index: 999;
    width: 300px;
    height: 900px;
    background-color: aqua;
    margin-top: 0;
    transition: 0.3s; 
} 
#header-bar {
    width: 1600px;
    height: 30px;
    background-color: #111;
    display: flex;
    flex-direction: row;
    color: #fff;
    justify-content: center;
}
#header-bar p {
    margin-right: 50px;
    padding-top: 3px;
    font-size: 0.8rem;
}
.main-nav {
    display: flex;
    width: 1600px;
    height: auto;
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}
#search-pro {
    width: 500px;
    height: 30px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #ecececc2;
    color: black;
    padding-left: 20px;  
}
.main-nav ul {
    display: flex;
}
.main-nav ul li {
    padding: 20px;   
}


/*main*/
.sec1 {
    max-width: 1400px;
    height: 800px;
    margin-left: 60px;
}
#txt1 {
    width: 100%;
    height: 100px;
    padding: 10px;
    padding-left: 80px;
}
.sec1-d {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sec1-d1, .sec1-d2 {
    display: inline-block;
    width: 600px;
    height: 650px;
}
.sec1-d1 {
    background: url("https://www.ikea.com/images/-b41d31b5b20df2f8b385b7cd73dee2f2.jpg?f=l") no-repeat center;
    max-width: 80%;
    height: 600px;
    background-size: cover;
    overflow: hidden;
    margin-right: 20px;
}
.sec1-d2 {
    background: url("https://www.ikea.com/images/8b/3f/8b3f08b1947dd09aea8ea61f3f23973c.jpg?f=l") no-repeat center;
    max-width: 80%;
    height: 600px;
    background-size: cover;
    overflow: hidden;
    margin-left: 20px;
}
.sec1-b {
    display: flex;
    width: 1400px;
    height: 60px;
    flex-direction: row;
    
}
#go-sale, #more-info ,#join-family{
    
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 0.9rem;
}
#go-sale {
    width: 150px;
    height: 40px;
    float: left;
    margin-left: 80px;
}
#more-info{
    width: 120px;
    height: 40px;
    float: right;
    margin-right: 560px;
}


.links {
    max-width: 1600px;
    height: 500px;
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border-bottom:1px solid rgb(199, 199, 199);
    
}
.join-fam {
    width: 30%;
    margin: 20px 0 20px 20px;
    padding-top: 100px;
    padding-left: 80px;
}
.join-fam p {
    font-size: 0.8rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.join-fam span {
    text-decoration: underline;
}
#join-family {
    width: 200px;
    height: 40px;
}
.links-inner {
    max-width: 65%;
    margin: 0 auto;
    padding: 90px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    font-size: 0.8rem;
}
.links-inner ul {
    margin-right: 20px;
}
.links li {
    line-height: 2.5;
}

.linkurl {
    width: 300px;
    position: absolute;
    bottom: 50px;
    z-index: 5;
    margin-left: 100px;
}
.linkurl a {
    margin-right: 20px;
}



/*footer*/
.footer {
    background: #f2f2f2;
    color: #616161;
    font-size: 0.8rem;
    padding: 20px 40px;
    display: flex;
    flex-wrap: wrap;
}
#ikea-copy {
    width: 50%;
    height: max-content;
}
#ikea-copy p {
    display: inline;
}
#ikea-policy {
    width: 50%;
    height: max-content;
    margin-top: 0;
    display: block;
}
#ikea-policy ul {
    float: right;
    height: 20px;    
}
#ikea-policy ul li {
    padding-right: 20px;
    display: inline;
}
#ikea-info {
    margin-top: 20px;
>>>>>>> 28a37536a38f9e6f357aec4890b1ce015de58033
}